html {
  box-sizing: border-box;
  font-family: "Courier New", sans-serif;
  --color-accent: #FEB062;
  --color-accent-alt: #CC00CC;
  --color-accent-toxic: #05FFA6 ;
  --color-bg-alt: #2B0058;
  --color-area: #575151;
  --color-bg-soft: #2B2B2B;
  --color-bg: #131313;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  background: linear-gradient(-45deg, var(--color-accent-alt), var(--color-bg), var(--color-bg-alt), var(--color-bg-soft));
  background-size: 400% 400%;
  animation: gradient 15s ease-out infinite;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.info {
  width: 80vw;
  margin-bottom: 3vw;
  display: flex;
  justify-content: space-between;
  font-size: 6vw;
  font-weight: bold;
  line-height: 1;
  color: var(--color-accent);
 }

.info__timing, .info__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.info__timing {
  width: 67%;
}

.info__counter {
  width: 33%;
}

.info__duration, .info__moves {
  display: block;
  font-size: 1em;
}

.field {
  height: 80vw;
  width: 80vw;
  display: grid;
  gap: 0.5vw;
  padding: 0.5vw;
  background: linear-gradient(45deg, var(--color-accent-toxic), var(--color-accent), var(--color-accent-alt));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 1vw;
  perspective: 100vw;
  font-size: 7vw;
  font-weight: bold;
  line-height: 1;
}

.field_size_3 {
  grid-template-columns: repeat(3, 1fr);
  font-size: 12vw;
}
.field_size_4 {
  grid-template-columns: repeat(4, 1fr);
  font-size: 9vw;
}
.field_size_5 {
  grid-template-columns: repeat(5, 1fr);
  font-size: 8vw;
}
.field_size_6 {
  grid-template-columns: repeat(6, 1fr);
  font-size: 7vw;
}
.field_size_7 {
  grid-template-columns: repeat(7, 1fr);
  font-size: 6vw;
}
.field_size_8 {
  grid-template-columns: repeat(8, 1fr);
  font-size: 5vw;
}

.field__cell {
  z-index: auto;
  position: static;
  left: 0;
  top: 0;
  padding-top: calc(50% - 1em / 2);
  text-align: center;
  background-color: #2B0058;
  border: 0.5vw solid var(--color-bg-soft);
  border-radius: 0.5vw;
  color: var(--color-accent);
  user-select: none;
  animation: swirl-in-bck 0.3s linear both;
  transition: animation 0.3s, opacity 0.3s;
}

.field__cell_0 {
  font-size: 0;
  background: transparent;
  border-color: transparent;
  animation: none;
}

.field__cell_draggable {
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 1vw var(--color-accent);
}

.field__cell_dropbox {
  position: relative;
  z-index: 2;
  border: 1vw dashed var(--color-accent-alt);
  animation: drop-target 0.8s ease-in-out infinite both;
}

@media (min-aspect-ratio: 1/1) {
  .field {
    height: 80vh;
    width: 80vh;
    gap: 0.5vh;
    padding: 0.5vh;
    border-radius: 1vh;
    perspective: 100vh;
    font-size: 7vh;
  }

  .info {
    width: 80vh;
    margin-bottom: 3vh;
    font-size: 6vh;
  }

  .field__cell {
    border-width: 0.5vh;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes swirl-in-bck {
  0% {
    transform: rotateY(-210deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes drop-target {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    color: var(--color-accent);
  }
  25%,
  75% {
    color: transparent;
  }
}


